@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* https://colorhunt.co/palette/dd5353b73e3edbc8aceddbc0 */
/* https://icons.getbootstrap.com/ */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

a {
  color: blue;
  text-decoration: none; /* no underline */
}

h1,h2,h3,h4,h5 {
  margin: 0;
  font-weight: 100;
}

b {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Barlow', sans-serif; */
  font-family: 'Varela Round', sans-serif;
}

.footerC {
  margin-top: 3em;
  display: none;
}

@media screen and (max-width: 600px) {

  .footerC {
    display: block;
  }


  .formContainer {
    text-align: center;
  }

  .profileBanner {
    height: 100px;
  }

  .mobileCol {
    display: none;
  }

  /* .tweetButton {
    width: 50px;
    padding: 0.5em 1em;
  } */
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {

  .mobileCol {
    display: none;
  }
  .footerC {
    display: block;
  }
}


.profileBanner {
  width: 100%;
  height: 200px;
}

.profilePicture {
  width: 85px;
  height: 85px;
  padding: 5px;
  border-radius: 50px;
  background-color: #eebbc3;
}

.formContainer {
  margin-top: 50%;
}

.containerOld {
  background-color: #DD5353;
  height: 100vh;
  margin: 0;
}

.containerOld img {
  width: 20%;
  position: absolute;
  top: 25%;
  left: 25%
}

.loginsignupContainer {
  background-color: #EDDBC0;
  margin-left: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainerOld {
  display: flex;
  flex-direction: column;
}

.formContainerOld form > *{
  margin-top: 0.6rem;
}

.tweetIcon {
  /* width: 190px; */
  /* aspect-ratio: 1 / 1; */
  /* height: auto; */
  /* border-radius: 10px; */
  padding: 0.25em 1em;
  /* width: 20%; */
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  /* margin-bottom: 0.5em; */
  /* transition: all 0.2s ease-out; */
  /* background-color: #a06e22; */
  /* border-radius: 50%; */
}

.tweetButtonSide {
  border-radius: 40px;
  padding: 0.25em 0.5em;
  /* padding: 0.5em 1em; */
  /* font-weight: bold; */
  font-weight: 700;
  border: 1px solid black;
  background-color: #eebbc3;
}

.tweetButtonSide:hover {
  background-color: #d6a8b0;
}

.tweetButton {
  background-color: #eebbc3;
  color: #232946;
  padding: 0.5em 1em;
  border: none;
  font-weight: 700;
  border-radius: 40px;
  letter-spacing: 0.5px;
}

.tweetButton:disabled {
  background-color: #a78389;
}

.tweetButton:hover:enabled {
  background-color: #d6a8b0;
}


/* .buttonHoverColor {
  background-color: #eebbc3;
}

.buttonHoverColor:hover {
  background-color: #d6a8b0;
} */

/* .tweetButton i::before {
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  width: 2em;
}

.tweetButton:hover i::before {
  border-radius: 50%;
} */

.iconEffect i::before {
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  width: 2em;
}

.imageUploadIcon:hover {
  color: rgba(238, 187, 195, 1);
}

.iconEffect:hover i::before {
  border-radius: 50%;
}

.commentButton:hover i::before, .commentButtonStatus:hover i::before {
  background-color: rgba(30, 129, 176, 0.3);
}

.pictureUploadButton:hover i::before {
  background-color: rgba(238, 187, 195, 0.3);
}

.buttonLiked:hover i::before, .buttonLikedStatus:hover i::before {
  background-color: rgba(221, 83, 83, 0.3);
}

.buttonNotLiked:hover i::before, .buttonNotLikedStatus:hover i::before {
  background-color: rgba(221, 83, 83, 0.3);
}

/* .tweetButton:hover {
  background-color: #a06e22;
} */

.buttonNotLiked {
  color: #232946
}

.commentButton {
  color: #232946
}

.buttonLiked {
  color: #DD5353;
}

.buttonNotLikedStatus {
  color: #b8c1ec
}

.commentButtonStatus {
  color: #b8c1ec
}

.buttonLikedStatus {
  color: #DD5353;
}

.buttonNotLiked:hover, .buttonNotLikedStatus:hover {
  color: #DD5353;
}

.commentButton:hover, .commentButtonStatus:hover {
  color: #1e81b0;
  /* background-color: rgba(30, 129, 176, 0.3); */
}

/* .buttonLiked:hover i::before {
  background-color: aqua;
  border-radius: 50%;
} */

.backIcon {
  transition: all .1s ease-in-out;
}

.backIcon:hover {
  transform: scale(1.2);
  font-weight: bolder;
  color: #fffffe;
}

.userFollow {
  text-decoration: inherit;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}

.userFollow:hover {
  text-decoration: underline
}



.menuItem {
  text-decoration: inherit;
  color: #fff;
  padding:  0.5em 1em;
}


.menuItemHover:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  cursor: pointer;
  /* opacity: 0.9; */
}

.unfollowButton {
  all: unset;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.25em 0;
  border-radius: 20px;
  font-size: 14px;
  width: 100px;
}

.unfollowButton:hover:before {
  content: "Unfollow";
  color: red;
}

.unfollowButton:hover span {
  display: none;
}

.unfollowButton:hover {
  border: none;
  border: 1px solid red;
  padding: 0.25em 0;
  background-color: rgba(255, 0, 0, 0.2);
}

.followButton {
  all: unset;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid black;
  padding: 0.25em 0;
  border-radius: 20px;
  width: 100px;
}

.followButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.profileEditButton {
  all: unset;
  cursor: pointer;
  text-align: center;
  border: 1px solid white;
  padding: 0.25em 0.75em;
  border-radius: 20px;
  font-weight: 500;
}

.profileEditButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.tweetForm input::placeholder {
  opacity: 1;
}

.tweetImageClose {
  position: relative;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .3);
  color: #fff;
  font-weight: bold;
  border: none;
  transition: all 0.1s ease;
}

.tweetImageClose:hover {
  background-color: rgba(0, 0, 0, 1);
}

textarea::placeholder {
  color: gray;
}

.uploadImageModalIcons i {
  cursor: pointer;
  color: #fff;
  font-size: 2em;
}

.uploadImageModalIcons i::before {
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: 1.5em;
  background-color: rgba(0, 0, 0, 0.2);
}

/* .uploadImageModalIcons:hover {
} */

.uploadImageModalIcons:hover i::before {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}