@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* https://colorhunt.co/palette/dd5353b73e3edbc8aceddbc0 */
/* https://icons.getbootstrap.com/ */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  background-color: #232946;
}

a {
  color: blue;
  text-decoration: none; /* no underline */
}

h1,h2,h3,h4,h5 {
  margin: 0;
  font-weight: 100;
}

b {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Barlow', sans-serif; */
  font-family: 'Varela Round', sans-serif;
}

/* #root {
  height: 100vh;
  width: 100vw;
} */

.landingPage {
  min-height: 100vh;
  width: 100vw;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1144%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(35%2c 41%2c 70%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c730.115C134.557%2c725.571%2c221.744%2c589.108%2c347.202%2c540.256C517.152%2c474.08%2c776.627%2c554.754%2c862.949%2c394.096C947.1%2c237.479%2c731.978%2c73.641%2c690.853%2c-99.33C654.932%2c-250.414%2c727.553%2c-425.931%2c637.843%2c-552.695C546.72%2c-681.456%2c370.963%2c-704.931%2c223.199%2c-760.146C63.585%2c-819.788%2c-100.862%2c-947.035%2c-260.894%2c-888.523C-421.677%2c-829.736%2c-449.9%2c-615.555%2c-550.703%2c-477.187C-640.858%2c-353.435%2c-771.289%2c-262.635%2c-822.086%2c-118.198C-879.681%2c45.569%2c-952.965%2c246.925%2c-856.009%2c390.926C-756.639%2c538.512%2c-528.016%2c498.686%2c-362.607%2c564.228C-236.483%2c614.204%2c-135.588%2c734.694%2c0%2c730.115' fill='%231b1f35'%3e%3c/path%3e%3cpath d='M1920 1814.935C2090.858 1823.921 2285.707 1964.2820000000002 2420.9139999999998 1859.438 2559.6369999999997 1751.868 2485.4610000000002 1525.185 2516.483 1352.405 2538.8540000000003 1227.806 2591.026 1111.32 2577.842 985.417 2564.304 856.134 2496.443 746.239 2440.709 628.803 2363.735 466.61199999999997 2345.226 252.98400000000004 2188.596 165.245 2031.193 77.07299999999998 1820.494 110.58100000000002 1658.929 190.87300000000005 1506.151 266.798 1430.187 434.543 1346.996 583.489 1277.9859999999999 707.0450000000001 1241.329 839.468 1218.647 979.1610000000001 1195.567 1121.306 1175.047 1263.775 1214.029 1402.406 1257.367 1556.53 1313.6100000000001 1727.6950000000002 1451.841 1808.469 1589.375 1888.836 1760.926 1806.568 1920 1814.935' fill='%232b3357'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1144'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.landingPage h2 {
  font-weight: bold;
  font-size: 100px;
  color: #fffffe;
}




.footerC {
  margin-top: 3em;
  display: none;
}
  
.mobileButtonShow {
  display: none;
}

@media screen and (max-width: 600px) {

  .landingPage {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='390' height='844' preserveAspectRatio='none' viewBox='0 0 390 844'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1092%26quot%3b)' fill='none'%3e%3crect width='390' height='844' x='0' y='0' fill='rgba(35%2c 41%2c 70%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c253.796C48.557%2c256.637%2c94.974%2c237.642%2c137.135%2c213.387C180.928%2c188.193%2c218.604%2c154.808%2c245.93%2c112.313C276.414%2c64.906%2c313.102%2c11.853%2c302.301%2c-43.464C291.533%2c-98.612%2c235.493%2c-130.947%2c191.587%2c-166.011C154.437%2c-195.68%2c112.709%2c-215.279%2c67.762%2c-230.775C20.747%2c-246.984%2c-28.825%2c-274.483%2c-75.815%2c-258.201C-122.585%2c-241.996%2c-141.741%2c-188.083%2c-170.896%2c-148.082C-197.456%2c-111.641%2c-229.606%2c-78.469%2c-238.965%2c-34.358C-248.673%2c11.397%2c-244.301%2c60.159%2c-224.02%2c102.307C-203.946%2c144.025%2c-165.547%2c171.987%2c-127.196%2c197.921C-88.042%2c224.398%2c-47.185%2c251.035%2c0%2c253.796' fill='%231b1f35'%3e%3c/path%3e%3cpath d='M390 1213.69C458.43600000000004 1226.62 520.885 1176.141 582.061 1142.8519999999999 647.797 1107.0819999999999 728.3430000000001 1080.789 759.383 1012.692 790.421 944.601 766.21 864.056 741.31 793.489 719.517 731.727 668.822 689.028 627.302 638.376 584.422 586.065 557.686 512.8199999999999 493.572 491.265 429.128 469.599 359.873 501.416 297.019 527.337 239.283 551.1469999999999 182.636 582.2570000000001 147.587 633.948 114.37700000000001 682.927 121.21699999999998 745.658 109.637 803.69 97.25200000000001 865.759 50.089 929.658 77.16500000000002 986.867 104.274 1044.146 188.226 1040.939 239.53 1078.137 295.31399999999996 1118.583 322.294 1200.8980000000001 390 1213.69' fill='%232b3357'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1092'%3e%3crect width='390' height='844' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }

  .landingPage h2 {
    font-weight: bold;
    font-size: 50px;
    color: #fffffe;
  }

  .footerC {
    display: block;
  }


  .formContainer {
    text-align: center;
  }

  .profileBanner {
    height: 100px;
  }

  .mobileCol {
    display: none;
  }

  .mobileButton {
    display: none;
  }
  
  .mobileButtonShow {
    display: block;
  }

  /* .tweetButton {
    width: 50px;
    padding: 0.5em 1em;
  } */
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {

  .mobileCol {
    display: none;
  }
  .footerC {
    display: block;
  }
}


.profileBanner {
  width: 100%;
  height: 200px;
}

.profilePicture {
  width: 85px;
  height: 85px;
  padding: 5px;
  border-radius: 50px;
  background-color: #eebbc3;
}

/* .formContainer {
  margin-top: 50%;
} */

.containerOld {
  background-color: #DD5353;
  height: 100vh;
  margin: 0;
}

.containerOld img {
  width: 20%;
  position: absolute;
  top: 25%;
  left: 25%
}

.loginsignupContainer {
  background-color: #EDDBC0;
  margin-left: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainerOld {
  display: flex;
  flex-direction: column;
}

.formContainerOld form > *{
  margin-top: 0.6rem;
}

.tweetIcon {
  /* width: 190px; */
  /* aspect-ratio: 1 / 1; */
  /* height: auto; */
  /* border-radius: 10px; */
  padding: 0.25em 1em;
  /* width: 20%; */
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  /* margin-bottom: 0.5em; */
  /* transition: all 0.2s ease-out; */
  /* background-color: #a06e22; */
  /* border-radius: 50%; */
}

.tweetButtonSide {
  border-radius: 30px;
  padding: 0.25em 0.5em;
  /* padding: 0.5em 1em; */
  /* font-weight: bold; */
  font-weight: 700;
  border: 1px solid black;
  background-color: #eebbc3;
}

.tweetButtonSide:hover {
  background-color: #d6a8b0;
}

.tweetButton {
  background-color: #eebbc3;
  color: #232946;
  padding: 0.5em 1em;
  border: none;
  font-weight: 700;
  border-radius: 40px;
  letter-spacing: 0.5px;
}

.tweetButton:disabled {
  background-color: #a78389;
}

.tweetButton:hover:enabled {
  background-color: #d6a8b0;
}


/* .buttonHoverColor {
  background-color: #eebbc3;
}

.buttonHoverColor:hover {
  background-color: #d6a8b0;
} */

/* .tweetButton i::before {
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  width: 2em;
}

.tweetButton:hover i::before {
  border-radius: 50%;
} */

.iconEffect i::before {
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  width: 2em;
}

.imageUploadIcon:hover {
  color: rgba(238, 187, 195, 1);
}

.iconEffect:hover i::before {
  border-radius: 50%;
}

.commentButton:hover i::before, .commentButtonStatus:hover i::before {
  background-color: rgba(30, 129, 176, 0.3);
}

.pictureUploadButton:hover i::before {
  background-color: rgba(238, 187, 195, 0.3);
}

.buttonLiked:hover i::before, .buttonLikedStatus:hover i::before {
  background-color: rgba(221, 83, 83, 0.3);
}

.buttonNotLiked:hover i::before, .buttonNotLikedStatus:hover i::before {
  background-color: rgba(221, 83, 83, 0.3);
}

/* .tweetButton:hover {
  background-color: #a06e22;
} */

.buttonNotLiked {
  color: #232946
}

.commentButton {
  color: #232946
}

.buttonLiked {
  color: #DD5353;
}

.buttonNotLikedStatus {
  color: #b8c1ec
}

.commentButtonStatus {
  color: #b8c1ec
}

.buttonLikedStatus {
  color: #DD5353;
}

.buttonNotLiked:hover, .buttonNotLikedStatus:hover {
  color: #DD5353;
}

.commentButton:hover, .commentButtonStatus:hover {
  color: #1e81b0;
  /* background-color: rgba(30, 129, 176, 0.3); */
}

/* .buttonLiked:hover i::before {
  background-color: aqua;
  border-radius: 50%;
} */

.backIcon {
  transition: all .1s ease-in-out;
}

.backIcon:hover {
  transform: scale(1.2);
  font-weight: bolder;
  color: #fffffe;
}

.userFollow {
  text-decoration: inherit;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}

.userFollow:hover {
  text-decoration: underline
}



.menuItem {
  text-decoration: inherit;
  color: #fff;
  padding:  0.5em 1em;
}


.menuItemHover:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  cursor: pointer;
  /* opacity: 0.9; */
}

.unfollowButton {
  all: unset;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.25em 0;
  border-radius: 20px;
  font-size: 14px;
  width: 100px;
}

.unfollowButton:hover:before {
  content: "Unfollow";
  color: red;
}

.unfollowButton:hover span {
  display: none;
}

.unfollowButton:hover {
  border: none;
  border: 1px solid red;
  padding: 0.25em 0;
  background-color: rgba(255, 0, 0, 0.2);
}

.followButton {
  all: unset;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid black;
  padding: 0.25em 0;
  border-radius: 20px;
  width: 100px;
}

.followButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.profileEditButton {
  all: unset;
  cursor: pointer;
  text-align: center;
  border: 1px solid white;
  padding: 0.25em 0.75em;
  border-radius: 20px;
  font-weight: 500;
}

.profileEditButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.tweetForm input::placeholder {
  opacity: 1;
}

.tweetImageClose {
  position: relative;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .3);
  color: #fff;
  font-weight: bold;
  border: none;
  transition: all 0.1s ease;
}

.tweetImageClose:hover {
  background-color: rgba(0, 0, 0, 1);
}

textarea::placeholder {
  color: gray;
}

.uploadImageModalIcons i {
  cursor: pointer;
  color: #fff;
  font-size: 2em;
}

.uploadImageModalIcons i::before {
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: 1.5em;
  background-color: rgba(0, 0, 0, 0.2);
}

/* .uploadImageModalIcons:hover {
} */

.uploadImageModalIcons:hover i::before {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}

.showMoreButton {
  text-align: center;
  cursor: pointer;
  padding: 0.5em 0;
  border-radius: 20px;
}

.showMoreButton:hover {
  background-color: rgba(63, 68, 93, 0.8);

}

.gitHub:hover {
  text-decoration: underline;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ANIMATIONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.lineUp {
  /* animation-delay: 5s; */
  animation: 1.5s anim-lineUp ease-out 1;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.fromtop {
  /* animation-delay: 5s; */
  animation: 1.5s anim-fromtop linear 1;
}
@keyframes anim-fromtop {
  0% { opacity: 0; transform: translateY(-100%);}
  25% { opacity: 1; transform: translateY(0%);}
  50% {
  }
  100% {
  }
}

.landingAnimation {
  animation: 3s landing-animation linear 1;
}
@keyframes landing-animation {
  0% { 
    opacity: 0; 
    /* transform: translateY(-100%); */
    transform: translateY(-100%);
  }
  25% { 
    opacity: 1; 
    transform: translateY(0%);
  }
  50% {
  }
  100% {
    opacity: 1; 
  }
}

.titleAnimation {
  animation-duration: 4s;
  animation-name: title-animation;
  animation-iteration-count: 1;
}

@keyframes title-animation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.logoAnimation {
  animation-duration: 4s;
  animation-name: logo-animation;
  animation-iteration-count: 1;
  animation-delay: 0.25s;
}

@keyframes logo-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



.titleTextAnimation1 {
  /* opacity: 0; */
  animation-duration: 4s;
  animation-name: title-text-animation;
  animation-iteration-count: 1;
  animation-delay: 0.05s;
}

.titleTextAnimation2 {
  /* opacity: 0; */
  animation-duration: 4s;
  animation-name: title-text-animation;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
}

.titleTextAnimation3 {
  /* opacity: 0; */
  animation-duration: 4s;
  animation-name: title-text-animation;
  animation-iteration-count: 1;
  animation-delay: 0.15s;
}


@keyframes title-text-animation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
