@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* https://colorhunt.co/palette/dd5353b73e3edbc8aceddbc0 */
/* https://icons.getbootstrap.com/ */

a {
  color: blue;
  text-decoration: none; /* no underline */
}

h1,h2,h3,h4,h5 {
  margin: 0;
  font-weight: 100;
}

b {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

.footerC {
  display: none;
}
@media screen and (max-width: 600px) {

  .footerC {
    display: block;
  }

  .mobileCol {
    display: none;
  }

  .formContainer {
    text-align: center;
  }

  .profileBanner {
    height: 100px;
  }
}


.profileBanner {
  width: 100%;
  height: 200px;
}

.profilePicture {
  width: 85px;
  height: 85px;
  padding: 5px;
  border-radius: 50px;
  background-color: #eebbc3;
}

.formContainer {
  margin-top: 50%;
}

.containerOld {
  background-color: #DD5353;
  height: 100vh;
  margin: 0;
}

.containerOld img {
  width: 20%;
  position: absolute;
  top: 25%;
  left: 25%
}

.loginsignupContainer {
  background-color: #EDDBC0;
  margin-left: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainerOld {
  display: flex;
  flex-direction: column;
}

.formContainerOld form > *{
  margin-top: 0.6rem;
}

.likeButton {
  width: 50px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.buttonNotLiked:hover {
  color: #DD5353;
}

.buttonLiked {
  color: #DD5353;
}

.backIcon {
  transition: all .1s ease-in-out;
}

.backIcon:hover {
  transform: scale(1.2);
  font-weight: bolder;
  color: #fffffe;
}

.userFollow {
  text-decoration: inherit;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}

.userFollow:hover {
  text-decoration: underline
}

.menuItem {
  text-decoration: inherit;
  color: #fff;
  padding:  0.5em 10em;
}

.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  /* opacity: 0.9; */
}

.unfollowButton {
  all: unset;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.25em 0;
  border-radius: 20px;
  font-size: 14px;
  width: 100px;
}

.unfollowButton:hover:before {
  content: "Unfollow";
  color: red;
}

.unfollowButton:hover span {
  display: none;
}

.unfollowButton:hover {
  border: none;
  border: 1px solid red;
  padding: 0.25em 0;
  background-color: rgba(255, 0, 0, 0.2);
}

.followButton {
  all: unset;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid black;
  padding: 0.25em 0;
  border-radius: 20px;
  width: 100px;
}

.followButton:hover {
  
  background-color: rgba(0, 0, 0, 0.2);
}